syntax = "proto3";

package __NAME__.pb;
option go_package = "__NAME__/api;pb";

service __NAME_TITLE__Service {
  rpc Hi (HiRequest) returns (HiResponse) {};
  rpc Watch(WatchRequest) returns (stream WatchResponse) {};
}

message HiRequest {
  string uid = 1;
  string message = 2;
  string topic = 3;
}

message HiResponse {
  string message = 1;
}

message WatchRequest {
  string uid = 1;
  string topic = 2;
}

message WatchResponse {
  string message = 1;
}
